.champion-details {
  flex-direction: column;

  .details-header {
    flex-direction: column;
    text-align: center;
  }

  .details-body {
    flex-direction: column;
    text-align: center;

    .description {
      width: 250px;
      margin: 10px auto;
    }

    img {
      margin: 5px auto;
    }
  }
}
